<% @paintings.each do |painting| %>
  <h2><%= painting.name %></h2>
  Finished in: <%= painting.year_finished %><br>
  Uses abstract styling: <%= painting.abstract %>
<% end %>

<%= link_to "Sort by Alphabetical Order", "/artists/#{@artist.id}/paintings" %>
<%= link_to "Add New Painting", "/artists/#{@artist.id}/paintings/new" %>
